.new-post-wrapper {
  background-color: var(--COLOR-SECONDARY);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-post-form {
  width: 100%;
}

.caption-input {
  font-family: "Roboto", sans-serif;
  border-radius: 1rem;
  resize: none;
  padding: 8px;
  display: block;
  width: 100%;
  outline: thin transparent;
}

.image-input {
  display: flex;
  justify-content: center;
}

.caption-input::-webkit-scrollbar {
  display: none;
}

.new-post-wrapper.modal {
  max-width: 30rem;
  max-height: 100%;
  overflow: scroll;
}
