.post {
  background-color: var(--COLOR-SECONDARY);
  padding: 1rem;
  border-radius: 1rem;
  max-width: 30rem;
  border: 1px solid var(--COLOR-SECONDARY-V3);
}

.post .avatar {
  width: 2rem;
  height: 2rem;
}

.post-header,
.post-status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-user-details {
  align-items: center;
  display: flex;
  gap: 12px;
}

.post-img {
  cursor: pointer;
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3/2;
}

.post-actions-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.post-content .btn {
  padding: 0;
}

/* post page */

.comments-section {
  background-color: var(--COLOR-SECONDARY);
  border-radius: 1rem;
}

.comment-input-wrapper {
  display: flex;
  gap: 8px;
  padding: 8px;
}

.comment-input {
  padding: 8px;
  flex-grow: 1;
  outline: thin transparent;
  border-radius: 8px;
  border: 1px solid var(--COLOR-SECONDARY-V3);
  background-color: var(--COLOR-SECONDARY-V2);
}

.comments-list-wrapper {
  display: block;
  padding: 1rem;
}

.comment-wrapper {
  border-bottom: 1px solid var(--COLOR-SECONDARY-V3);
  padding: 8px 0;
  display: flex;
  gap: 1rem;
}

.comment-wrapper .avatar img {
  max-width: initial;
  width: 2rem;
  height: 2rem;
}

.comment {
  margin-left: 8px;
}
