.app {
  background-color: var(--COLOR-SECONDARY-V2);
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.app-header-wrapper {
  background-color: var(--COLOR-SECONDARY);
  border-bottom: 1px solid var(--COLOR-SECONDARY-V3);
}

.app-header {
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.app-auth-header {
  padding: 8px;
  background-color: var(--COLOR-SECONDARY);
  box-shadow: 0px 2px 8px -4px var(--COLOR-PRIMARY-V3);
}

.app-body {
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
}

.nav-wrapper {
  display: flex;
  gap: 1.4rem;
}

.nav-wrapper .user-btn-wrapper {
  position: relative;
}

.nav-wrapper .user-wrapper {
  position: absolute;
  display: none;
  border-radius: 1rem;
  background-color: var(--COLOR-SECONDARY);
  box-shadow: 0 0 6px -2px var(--COLOR-PRIMARY-V3);
  top: 2rem;
  right: 0;
  flex-direction: column;
  overflow: hidden;
  width: 8rem;
  z-index: 2;
}

.user-btn-wrapper:hover .user-wrapper {
  display: flex;
}

.user-btn {
  padding: 0;
}

.user-wrapper .btn:hover {
  background-color: var(--COLOR-SECONDARY-V3);
}

.page-header {
  border-radius: 1rem;
  background-color: var(--COLOR-SECONDARY);
  padding: 8px;
  position: relative;
}

/* homepage */

.posts-filters-wrapper {
  border-radius: 1rem;
  padding: 8px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
